div.board {
    padding: 5px;
    text-align: left;
}

table.board {
    border-radius: 25px;
    border: 5px solid saddlebrown;
    border-top: 3px dotted saddlebrown;
    padding: 5px;
}

table.board tbody.drop-tile td .tile {
    display: inline-block;
    width: 65px;
    height: 15px;
}

table.board tbody.drop-tile td .tile.disabled {
    visibility: hidden;
}

table.board tbody.drop-tile tr.player1 td .tile {
    background-color: lightcoral;
}

table.board tbody.drop-tile tr.player1 td .tile:hover {
    background-color: red;
    cursor: pointer;
}

table.board tbody.drop-tile tr.player2 td .tile {
    background-color: cornflowerblue;
}

table.board tbody.drop-tile tr.player2 td .tile:hover {
    background-color: blue;
    cursor: pointer;
}

table.board tbody.tiles td .tile {
    display: inline-block;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

table.board tbody.tiles td.player1 .tile,
table.board tbody.tiles td.player2 .tile {
    height: 50px;
    width: 50px;
}

table.board tbody.tiles td.player1 .tile {
    border: 10px solid red;
    background-color: lightcoral;
}

table.board tbody.tiles td.player2 .tile {
    border: 10px solid blue;
    background-color: cornflowerblue;
}

table.board tbody.tiles td.player1 .tile.connected,
table.board tbody.tiles td.player2 .tile.connected {
    border-color: goldenrod;
}