span.playerMessage {
    text-align: left;
    margin-left: 10px;
    font-size: 24pt;
    line-height: normal;
    font-weight: bold;
}

span.playerMessage .player1,
span.pairing .player1 {
    color: lightcoral;
}

span.playerMessage .player2,
span.pairing .player2 {
    color: cornflowerblue;
}

span.pairing {
    font-size: 24pt;
    font-weight: bold;
    margin-left: 10px;
}